@use '@/styles/variables.scss' as *;

.page {
  min-height: 100vh;
  background-color: $color-bg-page;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64rpx;
}

.icon {
  font-size: 160rpx;
  margin-bottom: 32rpx;
}

.title {
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
  color: $color-text-primary;
  margin-bottom: 16rpx;
}

.text {
  font-size: $font-size-md;
  color: $color-text-tertiary;
  text-align: center;
}
